*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}



.game-wrapper {
    height: 100vmin;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;
}

.game-info {
    font-size: 3rem;
}

#game-board {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;

    display: grid;
    /* vygeneruje 21x21 mřížku o 1framu */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

.nic {
    color: hsl(0, 100%, 50%);
    color: hsl(240, 100%, 50%);
    color: hsl(120, 100%, 25%);
    color: hsl(60, 100%, 50%);
    color: hsl(300, 76%, 72%);
    color: hsl(0, 59%, 41%);
}